body {
  /* background-color: rgba(5, 10, 65, 0.888); */
  font-family: 'Roboto Mono', monospace !important;
  background: #050a41;

}

.form {
  display: flex;
  /* background-color: rgba(8, 12, 62, 0.879); */
}

input {
  text-align: end;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 0%;
  font-family: 'Roboto Mono', monospace;
}



/* #search {
  font-size: 25px;
  width: 20%;
  color: white;
  background-color: #050a41e2;
  /* background-color: transparent;
  font-family: 'Roboto Mono', monospace;
} */

input:focus {
  border-radius: 0;
  outline: none;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 30px auto;
  row-gap: 20px;
}

.box {
  justify-self: center;
  color: white;
  max-width: 300px;
}

h1 {
  margin: 0;
  font-size: 20px;
}

#heart{
  border-radius: 50%;
}

#heart:hover{
  background-color: red;
}

img:hover{
  transform: scale(1.009);
}

img{
  min-height: 450px;
  width: 300px;
}

@media only screen and (max-width: 1360px) and (min-width:963px){
  .container{
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 962px) and (min-width:662px){
  .container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 662px){
  .container{
    grid-template-columns: repeat(1, 1fr);
  }

  img{
    min-height: 400px;
    width: 250px;
  }
}